.background-color\:base-color-900 { background-color: var(--base-color-900); }
.background-color\:base-color-800 { background-color: var(--base-color-800); }
.background-color\:base-color-700 { background-color: var(--base-color-700); }
.background-color\:base-color-600 { background-color: var(--base-color-600); }
.background-color\:base-color-500 { background-color: var(--base-color-500); }
.background-color\:base-color-400 { background-color: var(--base-color-400); }
.background-color\:base-color-300 { background-color: var(--base-color-300); }
.background-color\:base-color-200 { background-color: var(--base-color-200); }
.background-color\:base-color-100 { background-color: var(--base-color-100); }
.background-color\:base-color-50 { background-color: var(--base-color-50); }

.background-color\:primary-color-900 { background-color: var(--primary-color-900); }
.background-color\:primary-color-800 { background-color: var(--primary-color-800); }
.background-color\:primary-color-700 { background-color: var(--primary-color-700); }
.background-color\:primary-color-600 { background-color: var(--primary-color-600); }
.background-color\:primary-color-500 { background-color: var(--primary-color-500); }
.background-color\:primary-color-400 { background-color: var(--primary-color-400); }
.background-color\:primary-color-300 { background-color: var(--primary-color-300); }
.background-color\:primary-color-200 { background-color: var(--primary-color-200); }
.background-color\:primary-color-100 { background-color: var(--primary-color-100); }
.background-color\:primary-color-50 { background-color: var(--primary-color-50); }

.background-color\:accent-color-900 { background-color: var(--accent-color-900); }
.background-color\:accent-color-800 { background-color: var(--accent-color-800); }
.background-color\:accent-color-700 { background-color: var(--accent-color-700); }
.background-color\:accent-color-600 { background-color: var(--accent-color-600); }
.background-color\:accent-color-500 { background-color: var(--accent-color-500); }
.background-color\:accent-color-400 { background-color: var(--accent-color-400); }
.background-color\:accent-color-300 { background-color: var(--accent-color-300); }
.background-color\:accent-color-200 { background-color: var(--accent-color-200); }
.background-color\:accent-color-100 { background-color: var(--accent-color-100); }
.background-color\:accent-color-50 { background-color: var(--accent-color-50); }

.color\:base-color-900 { color: var(--base-color-900); }
.color\:base-color-800 { color: var(--base-color-800); }
.color\:base-color-700 { color: var(--base-color-700); }
.color\:base-color-600 { color: var(--base-color-600); }
.color\:base-color-500 { color: var(--base-color-500); }
.color\:base-color-400 { color: var(--base-color-400); }
.color\:base-color-300 { color: var(--base-color-300); }
.color\:base-color-200 { color: var(--base-color-200); }
.color\:base-color-100 { color: var(--base-color-100); }
.color\:base-color-50 { color: var(--base-color-50); }

.color\:primary-color-900 { color: var(--primary-color-900); }
.color\:primary-color-800 { color: var(--primary-color-800); }
.color\:primary-color-700 { color: var(--primary-color-700); }
.color\:primary-color-600 { color: var(--primary-color-600); }
.color\:primary-color-500 { color: var(--primary-color-500); }
.color\:primary-color-400 { color: var(--primary-color-400); }
.color\:primary-color-300 { color: var(--primary-color-300); }
.color\:primary-color-200 { color: var(--primary-color-200); }
.color\:primary-color-100 { color: var(--primary-color-100); }
.color\:primary-color-50 { color: var(--primary-color-50); }

.color\:accent-color-900 { color: var(--accent-color-900); }
.color\:accent-color-800 { color: var(--accent-color-800); }
.color\:accent-color-700 { color: var(--accent-color-700); }
.color\:accent-color-600 { color: var(--accent-color-600); }
.color\:accent-color-500 { color: var(--accent-color-500); }
.color\:accent-color-400 { color: var(--accent-color-400); }
.color\:accent-color-300 { color: var(--accent-color-300); }
.color\:accent-color-200 { color: var(--accent-color-200); }
.color\:accent-color-100 { color: var(--accent-color-100); }
.color\:accent-color-50 { color: var(--accent-color-50); }

.border-color\:base-color-900 { border-color: var(--base-color-900); }
.border-color\:base-color-800 { border-color: var(--base-color-800); }
.border-color\:base-color-700 { border-color: var(--base-color-700); }
.border-color\:base-color-600 { border-color: var(--base-color-600); }
.border-color\:base-color-500 { border-color: var(--base-color-500); }
.border-color\:base-color-400 { border-color: var(--base-color-400); }
.border-color\:base-color-300 { border-color: var(--base-color-300); }
.border-color\:base-color-200 { border-color: var(--base-color-200); }
.border-color\:base-color-100 { border-color: var(--base-color-100); }
.border-color\:base-color-50 { border-color: var(--base-color-50); }

.border-color\:primary-color-900 { border-color: var(--primary-color-900); }
.border-color\:primary-color-800 { border-color: var(--primary-color-800); }
.border-color\:primary-color-700 { border-color: var(--primary-color-700); }
.border-color\:primary-color-600 { border-color: var(--primary-color-600); }
.border-color\:primary-color-500 { border-color: var(--primary-color-500); }
.border-color\:primary-color-400 { border-color: var(--primary-color-400); }
.border-color\:primary-color-300 { border-color: var(--primary-color-300); }
.border-color\:primary-color-200 { border-color: var(--primary-color-200); }
.border-color\:primary-color-100 { border-color: var(--primary-color-100); }
.border-color\:primary-color-50 { border-color: var(--primary-color-50); }

.border-color\:accent-color-900 { border-color: var(--accent-color-900); }
.border-color\:accent-color-800 { border-color: var(--accent-color-800); }
.border-color\:accent-color-700 { border-color: var(--accent-color-700); }
.border-color\:accent-color-600 { border-color: var(--accent-color-600); }
.border-color\:accent-color-500 { border-color: var(--accent-color-500); }
.border-color\:accent-color-400 { border-color: var(--accent-color-400); }
.border-color\:accent-color-300 { border-color: var(--accent-color-300); }
.border-color\:accent-color-200 { border-color: var(--accent-color-200); }
.border-color\:accent-color-100 { border-color: var(--accent-color-100); }
.border-color\:accent-color-50 { border-color: var(--accent-color-50); }
