@import url("https://use.typekit.net/tac8lmv.css");

/* Required Theme Variables */
:root {
  --display-font: "inria-sans", sans-serif;
  --body-font: "inria-sans", sans-serif;
}

:root {
  --primary-hsl: 207, 49%, 37%;
  --accent-hsl: 352, 60%, 55%;
  
  --base-900-hsl: 222, 43%, 9%;  /* Shades and Tints of Navy Blue */
  --base-700-hsl: 215, 40%, 19%; /* Shades and Tints of Navy Blue */
  --base-500-hsl: 208, 31%, 35%; /* Shades and Tints of Navy Blue */
  --base-300-hsl: 214, 25%, 56%; /* Shades and Tints of Navy Blue */
  --base-100-hsl: 47, 44%, 89%;  /* Off-white */

  --base-hsl: var(--base-900-hsl);  /* Shades and Tints of Navy Blue */
}

/* Global variables - Optional */
:root {
  --transition-base: 250ms ease;
  --transition-movement: 200ms linear;
  --transition-fade: 200ms ease;
  --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
  --tracking: 0.035ch;
  --tracking-s: -0.03ch;
  --center-measure: 1280px;
}

:root {
  --base-grid-width: 480px;
  --base-padding-block: var(--space-xs);
  --base-padding-inline: var(--space-2xs);

  --section-padding-block: var(--space-l-xl);
  --card-padding-block: var(--space-s-m);
  --card-padding-inline: var(--space-m-l);

  --base-gutter: var(--space-s-m);
  --stack-space: var(--space-xs-s);
  --base-border-radius: 4px;

  --shadow-color: 0deg, 0%, 0%;
  
  --box-shadow-s: 1px 1px 1px hsla(var(--shadow-color), 0.15),
    1px 1px 2px -2px hsla(var(--shadow-color), 0.15),
    1px 1px 6px -2px hsla(var(--shadow-color), 0.15);

  --box-shadow-m: 0.3px 0.5px 0.7px hsla(var(--shadow-color), 0.1),
    0.8px 1.6px 2px -0.8px hsla(var(--shadow-color), 0.1),
    2.1px 4.1px 5.2px -1.7px hsla(var(--shadow-color), 0.1),
    5px 10px 12.6px -2.5px hsla(var(--shadow-color), 0.1);

  --box-shadow-l: 0.3px 0.5px 0.7px hsla(var(--shadow-color), 0.15),
    1.5px 2.9px 3.7px -0.4px hsla(var(--shadow-color), 0.15),
    2.7px 5.4px 6.8px -0.7px hsla(var(--shadow-color), 0.15),
    4.5px 8.9px 11.2px -1.1px hsla(var(--shadow-color), 0.15),
    7.1px 14.3px 18px -1.4px hsla(var(--shadow-color), 0.15),
    11.2px 22.3px 28.1px -1.8px hsla(var(--shadow-color), 0.15),
    17px 33.9px 42.7px -2.1px hsla(var(--shadow-color), 0.15),
    25px 50px 62.9px -2.5px hsla(var(--shadow-color), 0.15);
}
